body{
    background-image: url('images/space.jpeg') ;
    background-size: cover;  /* This ensures the background covers the whole page */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    background-position: center;  /* Centers the image */
}